</span> </p>
<div class="flexcontrols__listcontainer flexcontrols__listcontainer--checkbox   requireOneCheck">
    <ul class="flexcontrols__list flexcontrols__list--checkbox">
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][aud]"
                                                                                        id="flex[Calendar_mainCal][currencies]_aud"
                                                                                        value="aud" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_aud">AUD</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][cad]"
                                                                                        id="flex[Calendar_mainCal][currencies]_cad"
                                                                                        value="cad" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_cad">CAD</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][chf]"
                                                                                        id="flex[Calendar_mainCal][currencies]_chf"
                                                                                        value="chf" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_chf">CHF</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][cny]"
                                                                                        id="flex[Calendar_mainCal][currencies]_cny"
                                                                                        value="cny" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_cny">CNY</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][eur]"
                                                                                        id="flex[Calendar_mainCal][currencies]_eur"
                                                                                        value="eur" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_eur">EUR</label></div>
        </li>
    </ul>
    <ul class="flexcontrols__list flexcontrols__list--checkbox">
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][gbp]"
                                                                                        id="flex[Calendar_mainCal][currencies]_gbp"
                                                                                        value="gbp" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_gbp">GBP</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][jpy]"
                                                                                        id="flex[Calendar_mainCal][currencies]_jpy"
                                                                                        value="jpy" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_jpy">JPY</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][nzd]"
                                                                                        id="flex[Calendar_mainCal][currencies]_nzd"
                                                                                        value="nzd" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_nzd">NZD</label></div>
        </li>
        <li>
            <div class="flexcontrols__selector flexcontrols__selector--checkbox"><input type="checkbox"
                                                                                        name="flex[Calendar_mainCal][currencies][usd]"
                                                                                        id="flex[Calendar_mainCal][currencies]_usd"
                                                                                        value="usd" checked="checked"
                                                                                        data-isdefault="true"
                                                                                        class="requireOneCheck"></div>
            <div class="flexcontrols__selector flexcontrols__label--checkbox"><label
                    for="flex[Calendar_mainCal][currencies]_usd">USD</label></div>
        </li>
    </ul>
</div> <input type="hidden" name="flex[Calendar_mainCal][_cbarray_]" value="1"> </div> </div> </div> </div>
<div class="overlay__pad "></div> </div>
<table class="overlay__controls ">
    <tbody>
    <tr>
        <td class="overlay__message overlay__message--invisible">Saving&#x2026;</td>
        <td class="overlay__error overlay__error--filter overlay__button overlay__button--disabled flexFilterError"></td>
        <td class="overlay__submits flexSubmitButtons"><input type="submit"
                                                              class="overlay__button overlay__button--submit button flexFilterSubmit"
                                                              name="flexFilters" value="Apply Filter" data-touchable="">
            <input type="button" class="overlay__button overlay__button--cancel button flexCancelFilters" value="Cancel"
                   data-touchable=""></td>
        <td class="overlay__defaults flexDefaults"></td>
    </tr>
    </tbody>
</table> </div> </div> </div> </form>
<table class="calendar__table">
    <thead>
    <tr class="calendar__header--desktop subhead">
        <th class="calendar__date col1">Date</th>
        <th class="calendar__time col2"><a href="timezone.php" title="Time Options">8:53am</a></th>
        <th class="calendar__currency col3">Currency</th>
        <th class="calendar__impact col4">Impact</th>
        <th class="calendar__event col5">&#xA0;</th>
        <th class="calendar__detail col6">Detail</th>
        <th class="calendar__actual col7">Actual</th>
        <th class="calendar__forecast col8">Forecast</th>
        <th class="calendar__previous col9">Previous</th>
        <th class="calendar__graph col10">Graph</th>
    </tr>
    <tr class="calendar__header--mobile subhead">
        <th colspan="4"><a href="timezone.php" class="calendar__header-time" title="Time Options">8:53am</a></th>
        <th>Actual</th>
    </tr>
    </thead>
    <tbody>
    <tr class="calendar__borderfix borderfix">
        <td></td>
    </tr>
    <tr class="calendar__row calendar__row--day-breaker">
        <td class="calendar__cell" colspan="10">Mon<span>Oct 2</span></td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey calendar__row--new-day newday" data-eventid="65835"
        data-touchable="">
        <td class="calendar__cell calendar__date date"><span class="date">Mon<span>Oct 2</span></span></td>
        <td class="calendar__cell calendar__time time">3:15am</td>
        <td class="calendar__cell calendar__currency currency" title="">CHF</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Retail Sales y/y</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="worse">-0.2%</span></td>
        <td class="calendar__cell calendar__forecast forecast">0.5%</td>
        <td class="calendar__cell calendar__previous previous"><span class="revised better" title="Revised From -0.7%">0.0%</span>
        </td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="65835">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="worse">-0.2%</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>0.5%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong><span class="revised better"
                                                                                      title="Revised From -0.7%">0.0%</span>
                    </td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey calendar__row--no-grid nogrid" data-eventid="64780"
        data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--medium">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Medium Impact Expected"
                                                                                   class="medium"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-orange.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Spanish Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="better">54.3</span></td>
        <td class="calendar__cell calendar__forecast forecast">53.2</td>
        <td class="calendar__cell calendar__previous previous">52.4</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64780">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="better">54.3</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>53.2</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>52.4</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="67594" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">3:30am</td>
        <td class="calendar__cell calendar__currency currency" title="">CHF</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="better">61.7</span></td>
        <td class="calendar__cell calendar__forecast forecast">60.6</td>
        <td class="calendar__cell calendar__previous previous">61.2</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="67594">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="better">61.7</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>60.6</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>61.2</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="64781" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">3:45am</td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Italian Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="worse">56.3</span></td>
        <td class="calendar__cell calendar__forecast forecast">56.9</td>
        <td class="calendar__cell calendar__previous previous">56.3</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64781">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="worse">56.3</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>56.9</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>56.3</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="64782" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">3:50am</td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">French Final Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual">56.1</td>
        <td class="calendar__cell calendar__forecast forecast">56.0</td>
        <td class="calendar__cell calendar__previous previous">56.0</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64782">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>56.1</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>56.0</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>56.0</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="64783" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">3:55am</td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">German Final Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual">60.6</td>
        <td class="calendar__cell calendar__forecast forecast">60.6</td>
        <td class="calendar__cell calendar__previous previous">60.6</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64783">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>60.6</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>60.6</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>60.6</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="64784" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">4:00am</td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Final Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual">58.1</td>
        <td class="calendar__cell calendar__forecast forecast">58.2</td>
        <td class="calendar__cell calendar__previous previous">58.2</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64784">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>58.1</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>58.2</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>58.2</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey calendar__row--no-grid nogrid" data-eventid="65143"
        data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Italian Monthly Unemployment Rate</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual">11.2%</td>
        <td class="calendar__cell calendar__forecast forecast">11.2%</td>
        <td class="calendar__cell calendar__previous previous">11.3%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="65143">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>11.2%</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>11.2%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>11.3%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="64785" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">4:30am</td>
        <td class="calendar__cell calendar__currency currency" title="">GBP</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--high">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="High Impact Expected"
                                                                                   class="high"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-red.png" alt="" border="0">
            </div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="worse">55.9</span></td>
        <td class="calendar__cell calendar__forecast forecast">56.3</td>
        <td class="calendar__cell calendar__previous previous"><span class="revised"
                                                                     title="Revised From 56.9">56.7</span></td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64785">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="worse">55.9</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>56.3</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong><span class="revised"
                                                                                      title="Revised From 56.9">56.7</span>
                    </td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--grey" data-eventid="66063" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">5:00am</td>
        <td class="calendar__cell calendar__currency currency" title="">EUR</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Unemployment Rate</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"><span class="worse">9.1%</span></td>
        <td class="calendar__cell calendar__forecast forecast">9.0%</td>
        <td class="calendar__cell calendar__previous previous">9.1%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="66063">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong><span class="worse">9.1%</span></td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>9.0%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>9.1%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--1"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="65219" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"><a name="upnext" class="anchor abs">&#xA0;</a><span
                class="upnext">9:30am</span></td>
        <td class="calendar__cell calendar__currency currency" title="">CAD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous">54.6</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="65219">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>54.6</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="64786" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">9:45am</td>
        <td class="calendar__cell calendar__currency currency" title="">USD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Final Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">53.0</td>
        <td class="calendar__cell calendar__previous previous">53.0</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64786">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>53.0</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>53.0</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="64928" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">10:00am</td>
        <td class="calendar__cell calendar__currency currency" title="">USD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--high">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="High Impact Expected"
                                                                                   class="high"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-red.png" alt="" border="0">
            </div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">ISM Manufacturing PMI</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">57.9</td>
        <td class="calendar__cell calendar__previous previous">58.8</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64928">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>57.9</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>58.8</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--no-grid nogrid" data-eventid="66725" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">USD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Construction Spending m/m</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">0.4%</td>
        <td class="calendar__cell calendar__previous previous">-0.6%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="66725">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>0.4%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>-0.6%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--no-grid nogrid" data-eventid="64929" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">USD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">ISM Manufacturing Prices</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">64.5</td>
        <td class="calendar__cell calendar__previous previous">62.0</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="64929">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>64.5</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>62.0</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="85332" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">2:00pm</td>
        <td class="calendar__cell calendar__currency currency" title="">USD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--medium">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Medium Impact Expected"
                                                                                   class="medium"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-orange.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">FOMC Member Kaplan Speaks</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous"></td>
        <td class="calendar__cell calendar__graph graph"></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="85332">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded calendarexpanded--empty">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell calendarexpanded__cell--large">No Data Series</td>
                    <td class="calendarexpanded__cell"><a href="javascript:void(0);"
                                                          class="calendarexpanded__details calendarexpanded__details--0"
                                                          data-touchable=""> <span>Details</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="69015" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">7:50pm</td>
        <td class="calendar__cell calendar__currency currency" title="">JPY</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Monetary Base y/y</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">17.2%</td>
        <td class="calendar__cell calendar__previous previous">16.3%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="69015">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>17.2%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>16.3%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="68313" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">8:00pm</td>
        <td class="calendar__cell calendar__currency currency" title="">AUD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">HIA New Home Sales m/m</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous">-3.7%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="68313">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>-3.7%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="69737" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">All Day</td>
        <td class="calendar__cell calendar__currency currency" title="">CNY</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--holiday">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Non-Economic"
                                                                                   class="holiday"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-gray.png" alt="" border="0">
            </div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Bank Holiday</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous"></td>
        <td class="calendar__cell calendar__graph graph"></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="69737">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded calendarexpanded--empty">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell calendarexpanded__cell--large">No Data Series</td>
                    <td class="calendarexpanded__cell"><a href="javascript:void(0);"
                                                          class="calendarexpanded__details calendarexpanded__details--0"
                                                          data-touchable=""> <span>Details</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="68035" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">8:30pm</td>
        <td class="calendar__cell calendar__currency currency" title="">AUD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--medium">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Medium Impact Expected"
                                                                                   class="medium"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-orange.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Building Approvals m/m</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">1.1%</td>
        <td class="calendar__cell calendar__previous previous">-1.7%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="68035">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>1.1%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>-1.7%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--no-grid nogrid" data-eventid="65590" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">AUD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">ANZ Job Advertisements m/m</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous">2.0%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="65590">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>2.0%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="68446" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">11:30pm</td>
        <td class="calendar__cell calendar__currency currency" title="">AUD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--high">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="High Impact Expected"
                                                                                   class="high"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-red.png" alt="" border="0">
            </div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">Cash Rate</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast">1.50%</td>
        <td class="calendar__cell calendar__previous previous">1.50%</td>
        <td class="calendar__cell calendar__graph graph"><a
                class="calendar__detail-link calendar__detail-link--graph-icon calendar_chart"></a></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="68446">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>1.50%</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>1.50%</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__graph"
                                                                                        data-touchable="">
                        <span>Graph</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row calendar__row--no-grid nogrid" data-eventid="68447" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time"></td>
        <td class="calendar__cell calendar__currency currency" title="">AUD</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--high">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="High Impact Expected"
                                                                                   class="high"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-red.png" alt="" border="0">
            </div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">RBA Rate Statement</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-1 calendar_detail level1" data-level="1"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous"></td>
        <td class="calendar__cell calendar__graph graph"></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="68447">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded calendarexpanded--empty">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell calendarexpanded__cell--large">No Data Series</td>
                    <td class="calendarexpanded__cell"><a href="javascript:void(0);"
                                                          class="calendarexpanded__details calendarexpanded__details--1"
                                                          data-touchable=""> <span>Details</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="calendar__row calendar_row" data-eventid="69380" data-touchable="">
        <td class="calendar__cell calendar__date date"></td>
        <td class="calendar__cell calendar__time time">11:45pm</td>
        <td class="calendar__cell calendar__currency currency" title="">JPY</td>
        <td class="calendar__cell calendar__impact impact calendar__impact calendar__impact--low">
            <div class="calendar__impact-icon calendar__impact-icon--screen"><span title="Low Impact Expected"
                                                                                   class="low"></span></div>
            <div class="calendar__impact-icon calendar__impact-icon--print"><img
                    src="https://cdn-resources.forexfactory.net/images/icons/impact/impact-yellow.png" alt=""
                    border="0"></div>
        </td>
        <td class="calendar__cell calendar__event event">
            <div><span class="calendar__event-title">10-y Bond Auction</span></div>
        </td>
        <td class="calendar__cell calendar__detail detail"><a
                class="calendar__detail-link calendar__detail-link--level-0 calendar_detail level0" data-level="0"></a>
        </td>
        <td class="calendar__cell calendar__actual actual"></td>
        <td class="calendar__cell calendar__forecast forecast"></td>
        <td class="calendar__cell calendar__previous previous">0.01|4.0</td>
        <td class="calendar__cell calendar__graph graph"></td>
    </tr>
    <tr class="calendar__row calendar__expand" data-eventid="69380">
        <td>&#xA0;</td>
        <td colspan="4" class="calendarexpanded__container">
            <table class="calendarexpanded">
                <tbody>
                <tr>
                    <td class="calendarexpanded__cell"><strong>Actual</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Forecast</strong>&#xA0;</td>
                    <td class="calendarexpanded__cell"><strong>Previous</strong>0.01|4.0</td>
                    <td class="calendarexpanded__cell calendarexpanded__cell--small"><a href="javascript:void(0);"
                                                                                        class="calendarexpanded__details calendarexpanded__details--0"
                                                                                        data-touchable="">
                        <span>Details</span> </a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div class="foot">
    <ul>
        <li class="more"><a href="#" class="flexMore"><span>More</span><span class="loader"></span></a></li>
    </ul>
</div> </div> </div> </div>
<div class="pagearrange__layout-cell pagearrange__layout-inlinead" data-position="2">
    <div id="gpt_mv_inline_banner">
        <script type="text/javascript">
